<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">
    {{ site.footer-heading }}
    <span class="social">
        <a href="https://www.facebook.com/Daddy-Waku-24789804300"><img src="/images/social-facebook.png" alt="facebook" title="facebook"></a>
        <a href="http://meltingprod.com/defaultsite"><img src="/images/social-meltingprod.png" alt="meltingprod" title="meltingprod"></a>
        <a href="https://twitter.com/DADDYWAKU"><img src="/images/social-twitter.png" alt="twitter" title="twitter"></a>
        <a href="https://www.facebook.com/groups/240400106135819/?fref=ts"><img src="/images/social-ywaxbiz.jpg" alt="ywaxbiz" title="ywaxbiz"></a>
        <a href="http://www.artfusion.be/"><img src="/images/social-artfusion.png" alt="artfusion" title="artfusion"></a>

    </span>
    </h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <!-- <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li> -->
          <li class="web-by">&copy; 2015 &gt;&gt; web by <a href="mailto:pagehead@gmail.com">ulf.gj</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.facebook_username %}
          <li>
            {% include icon-facebook.html username=site.facebook_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
      </div>
    </div>

  </div>

</footer>
