<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.footer-heading }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <!-- <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li> -->
          <li class="web-by">&copy; 2015 &gt;&gt; web by <a href="mailto:pagehead@gmail.com">ulf.gj</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.facebook_username %}
          <li>
            {% include icon-facebook.html username=site.facebook_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

<!--
# footer links
https://www.facebook.com/Daddy-Waku-24789804300
http://meltingprod.com/defaultsite
https://twitter.com/DADDYWAKU
https://www.facebook.com/groups/240400106135819/?fref=ts
http://www.artfusion.be/
-->

</footer>
