---
layout: default
---
<article class="post">

	<header class="post-header"><h1 class="post-title">{{ page.title }}</h1></header>

<!--  	<div class="contact-form">
		<div class="input-left">
			<input type="text" name="Name" placeholder="Name">
			<input type="text" name="Email" placeholder="Email">
			<input type="text" name="Subject" placeholder="Subjet">
		</div>
		<div class="input-right">
			<textarea style="float: right;" name="Message" placeholder="Message"></textarea>
			<button id="submit" type="submit">Send</button>
		</div>
  	</div>
 -->

<img src="/images/daddy-flying.jpg" alt="" style="transform: rotate(15deg); float: right;">

	<div class="post-content">
		{{ content }}
	</div>


</article>




<!--
<div style="height: 180px; top: 271px; left: 503px; width: 370px; position: absolute;" class="s13" data-state="desktop left" id="i8k9dm7p">
	<div id="i8k9dm7pwrapper" class="s13wrapper">
		<ul class="s13_row s13_form">
			<li class="s13_col s13_left">
				<input type="text" name="Nom" class="s13_required s13nameField" placeholder="Noi   i8k9dm7pnameField">
				<input type="text" name="Email" class="s13_required s13emailField" placeholder="Email" id="i8k9dm7pemailField">
				<input type="text" name="Téléphone" class="s13_hidden s13phoneField" placeholder="Téléphone" id="i8k9dm7pphoneField">
				<input type="text" name="Adresse" class="s13_hidden s13addressField" placeholder="Adresse" id="i8k9dm7paddressField">
				<input type="text" name="Sujet" class="s13subjectField" placeholder="Sujet" id="i8k9dm7psubjectField">
			</li>
			<li class="s13_col s13_right">
				<textarea name="Message" class="s13messageField" placeholder="Message" id="i8k9dm7pmessageField" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$cg0o.1.$i8k9dm7p.0.0.1.0"> </textarea>
			</li>
		</ul>
		<div class="s13_foot">
			<button id="i8k9dm7psubmit" class="s13submit" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$cg0o.1.$i8k9dm7p.0.1.1">Send</button>
		</div>
	</div>
</div>
-->